# Hyderabad House Predictions

In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv("data.csv")

In [3]:
 housing.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,Nizampet,NaN,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,Hitech City,4.0,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,Manikonda,2.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,Alwal,3.0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,Kukatpally,2.0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [4]:
housing=housing.drop('Location', axis=1)
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                2518 non-null   int64
 1   Area                 2518 non-null   int64
 2   No. of Bedrooms      2513 non-null   float64
 3   Resale               2518 non-null   int64
 4   MaintenanceStaff     2518 non-null   int64
 5   Gymnasium            2518 non-null   int64
 6   SwimmingPool         2518 non-null   int64
 7   LandscapedGardens    2518 non-null   int64
 8   JoggingTrack         2518 non-null   int64
 9   RainWaterHarvesting  2518 non-null   int64
 10  IndoorGames          2518 non-null   int64
 11  ShoppingMall         2518 non-null   int64
 12  Intercom             2518 non-null   int64
 13  SportsFacility       2518 non-null   int64
 14  ATM                  2518 non-null   int64
 15  ClubHouse            2518 non-null   int64
 16  School               2518 non-null   int64
 17  24X7Security         2518 non-null   int64
 18  PowerBackup          2518 non-null   int64
 19  CarParking           2518 non-null   int64
 20  StaffQuarter         2518 non-null   int64
 21  Cafeteria            2518 non-null   int64
 22  MultipurposeRoom     2518 non-null   int64
 23  Hospital             2518 non-null   int64
 24  WashingMachine       2518 non-null   int64
 25  Gasconnection        2518 non-null   int64
 26  AC                   2518 non-null   int64
 27  Wifi                 2518 non-null   int64
 28  Children'splayarea   2518 non-null   int64
 29  LiftAvailable        2518 non-null   int64
 30  BED                  2518 non-null   int64
 31  VaastuCompliant      2518 non-null   int64
 32  Microwave            2518 non-null   int64
 33  GolfCourse           2518 non-null   int64
 34  TV                   2518 non-null   int64
 35  DiningTable          2518 non-null   int64
 36  Sofa                 2518 non-null   int64
 37  Wardrobe             2518 non-null   int64
 38  Refrigerator         2518 non-null   int64
dtypes: float64(1), int64(38)
memory usage: 767.3 KB

#### housing.describe()

In [5]:
# housing['Sofa'].value_counts()

In [6]:
# %matplotlib inline

In [7]:
# import matplotlib.pyplot as plt
# housing.hist(bins=50, figsize=(20,15))

In [8]:
# plt.show()

# Train-Test Splitting

In [9]:
import numpy as np


def split_train_test(data, test_ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*test_ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
#  train_set, test_set = split_train_test(housing, 0.2)

In [11]:
# print(f"Rows in train set: {len(train_set)}\nRows in test set: {len(test_set)}\n")

In [12]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(housing, test_size=0.2, random_state=42)
print(f"Rows in train set: {len(train_set)}\nRows in test set: {len(test_set)}\n")

Rows in train set: 2014
Rows in test set: 504

In [13]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(housing, housing['Sofa']):
    strat_train_set=housing.loc[train_index]
    strat_test_set=housing.loc[test_index]

In [14]:
strat_train_set['Sofa'].value_counts()

0    1862
1      85
9      67
Name: Sofa, dtype: int64

In [15]:
# strat_test_set['Sofa'].value_counts()

In [16]:
1862/85/67

0.32695346795434593

In [17]:
466/21/17

1.3053221288515406

In [18]:
housing=strat_train_set.copy()

# Looking for correlations

In [19]:
corr_matrix=housing.corr()
corr_matrix['Price'].sort_values(ascending=False)

Price                  1.000000
Area                   0.876548
No. of Bedrooms        0.652015
Resale                 0.228216
SwimmingPool           0.080278
Gymnasium              0.072973
JoggingTrack           0.066517
ClubHouse              0.064404
Children'splayarea     0.064325
24X7Security           0.062949
LandscapedGardens      0.062268
IndoorGames            0.060208
CarParking             0.058665
MultipurposeRoom       0.051368
RainWaterHarvesting    0.051135
VaastuCompliant        0.048665
Intercom               0.045336
PowerBackup            0.040013
LiftAvailable          0.031290
SportsFacility         0.018273
StaffQuarter           0.016691
MaintenanceStaff       0.008594
Cafeteria              0.004425
ATM                    0.002491
AC                     0.000116
TV                    -0.008281
DiningTable           -0.009037
Refrigerator          -0.009492
BED                   -0.010304
Sofa                  -0.010726
Gasconnection         -0.011228
WashingMachine        -0.011630
ShoppingMall          -0.012060
Wardrobe              -0.012140
Wifi                  -0.013221
Microwave             -0.017295
Hospital              -0.017821
School                -0.018962
GolfCourse            -0.024658
Name: Price, dtype: float64

In [20]:
# from pandas.plotting import scatter_matrix
# attributes =["Area", "No. of Bedrooms", "Price", "GolfCourse"]
# scatter_matrix(housing[attributes], figsize=(12,8))

In [21]:
# housing.plot(kind="scatter", x="No. of Bedrooms", y="Price", alpha=1)

In [22]:
housing=strat_train_set.drop("Price", axis=1)
housing_labels=strat_train_set["Price"].copy()

# Missing Attributes

In [23]:
# To take care of missing attributes, you have 3 options:
#     1.get rid of missing data points
#     2. get rid of whole attribute
#     3. set the value to some value like 0 mean or median

In [24]:
a=housing.dropna(subset=["No. of Bedrooms"])
a.shape

(2009, 38)

In [25]:
median=housing["No. of Bedrooms"].median()
median

3.0

In [26]:
housing["No. of Bedrooms"].fillna(median)

2172    3.0
1937    2.0
1710    3.0
1229    3.0
2427    3.0
       ...
860     1.0
295     3.0
2089    2.0
2508    2.0
1686    1.0
Name: No. of Bedrooms, Length: 2014, dtype: float64

In [27]:
housing.shape

(2014, 38)

In [28]:
housing.dropna()

,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
2172,1800,3.0,1,0,1,1,1,0,0,0,...,1,0,0,0,0,0,1,0,1,0
1937,1200,2.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1710,1740,3.0,0,0,1,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1229,1808,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2427,2260,3.0,0,0,1,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,1020,1.0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
295,2000,3.0,0,1,1,1,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2089,1200,2.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2508,1550,2.0,0,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
1686,550,1.0,0,0,1,0,0,0,1,1,...,1,0,1,0,0,0,0,0,0,0

In [29]:
housing.shape

(2014, 38)

In [30]:
housing.describe()

,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
count,2014.000000,2009.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.00000,2014.000000,2014.000000,2014.000000,...,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000
mean,1643.760675,2.619711,0.223436,0.413605,0.737339,0.701589,0.61569,0.558093,0.609235,0.580933,...,0.966733,0.357498,0.605760,0.341112,0.330189,0.321251,0.332175,0.341609,0.339126,0.324230
std,756.381980,0.686908,0.416652,1.624524,1.609407,1.614277,1.62270,1.625783,1.623148,1.624806,...,1.558397,1.620565,1.623378,1.619040,1.617930,1.616966,1.618137,1.619088,1.618843,1.617293
min,500.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1160.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1490.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1821.500000,3.000000,0.000000,0.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9400.000000,8.000000,1.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [31]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")
imputer.fit(housing)

SimpleImputer(strategy='median')

In [32]:
imputer.statistics_

array([1.49e+03, 3.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
       0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
       0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00,
       0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
       0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 0.00e+00,
       0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 0.00e+00,
       0.00e+00, 0.00e+00])

In [33]:
X=imputer.transform(housing)

In [34]:
housing_tr=pd.DataFrame(X, columns=housing.columns)

In [35]:
housing_tr.describe()

,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
count,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.00000,2014.000000,2014.000000,2014.000000,...,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000
mean,1643.760675,2.620655,0.223436,0.413605,0.737339,0.701589,0.61569,0.558093,0.609235,0.580933,...,0.966733,0.357498,0.605760,0.341112,0.330189,0.321251,0.332175,0.341609,0.339126,0.324230
std,756.381980,0.686315,0.416652,1.624524,1.609407,1.614277,1.62270,1.625783,1.623148,1.624806,...,1.558397,1.620565,1.623378,1.619040,1.617930,1.616966,1.618137,1.619088,1.618843,1.617293
min,500.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1160.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1490.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1821.500000,3.000000,0.000000,0.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9400.000000,8.000000,1.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

## Scikit-learn design

 Primarily three types of objects
 1. Estimators
 2. Transformers
 3. Predictors

## Feature Scaling

Primarily, two types of feature scaling
1. Min-Max(Normalization)
2. Standardization

## Creating Pipeline

In [36]:
# from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
my_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="median")),
    ('std_scaler', StandardScaler()),
])

In [37]:
housing_num_tr=my_pipeline.fit_transform(housing)

In [38]:
housing_num_tr.shape

(2014, 38)

## Selecting a model for predictions

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
#model=LinearRegression()
model=DecisionTreeRegressor()
#model=RandomForestRegressor()
model.fit(housing_num_tr, housing_labels)

DecisionTreeRegressor()

In [40]:
some_data=housing.iloc[:5]

In [41]:
some_labels=housing_labels.iloc[:5]

In [42]:
prepared_data=my_pipeline.transform(some_data)

In [43]:
model.predict(prepared_data)

array([10500000.        ,  6317142.85714286, 12000000.        ,
        7593000.        , 17000000.        ])

In [44]:
list(some_labels)

[10500000, 4680000, 12000000, 7593000, 17000000]

# Evaluating the model

In [45]:
from sklearn.metrics import mean_squared_error
housing_predictions=model.predict(housing_num_tr)
lin_mse = mean_squared_error(housing_labels, housing_predictions)
lin_rmse=np.sqrt(lin_mse)

In [46]:
lin_rmse

624504.4362819868

# Using better technique- Cross Validation

In [47]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, housing_num_tr, housing_labels, scoring="neg_mean_squared_error", cv=10)
rmse_scores=np.sqrt(-scores)

In [48]:
list(rmse_scores)

[5749616.423535466,
 4286307.2853050595,
 4829892.933333275,
 4335232.548468733,
 3551564.0615383955,
 4990710.612358387,
 4363044.525054381,
 3664142.6920468076,
 3923382.2748644133,
 5386091.717611292]

In [49]:
def print_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard Deviation:", scores.std())

In [50]:
print_scores(rmse_scores)

Scores: [5749616.42353547 4286307.28530506 4829892.93333327 4335232.54846873
 3551564.0615384  4990710.61235839 4363044.52505438 3664142.69204681
 3923382.27486441 5386091.71761129]
Mean: 4507998.507411621
Standard Deviation: 686872.0470659263

# Testing the model on test data

In [51]:
X_test=strat_test_set.drop("Price", axis=1)
Y_test=strat_test_set["Price"].copy()
X_test_prepared=my_pipeline.transform(X_test)
final_predictions=model.predict(X_test_prepared)
final_mse=mean_squared_error(Y_test, final_predictions)
final_rmse=np.sqrt(final_mse)
print(final_predictions, list(Y_test))

[ 4400000.         35000000.          4364416.66666667  3900000.
  8749000.          4093684.21052632  7800000.         35200000.
 17000000.          4204200.          6000000.          6266666.66666667
 15300000.          8325000.         10100000.          7200000.
  4400000.          5500000.          6675000.         10800000.
  7400000.          4299000.          3500000.          8140000.
  8775000.         10700000.         16000000.          4400000.
  9499000.          5777000.         10100000.          8000000.
  2104000.         11000000.          5720000.         11000000.
  3830000.          5363500.          8903000.         10800000.
  4216000.         12100000.          5500000.          3000000.
  6900000.          6323000.          5800000.         11299999.
 45000000.          8140000.         20500000.         11500000.
  5600000.         35200000.          8426000.          8600000.
  3900000.          4400000.          8186666.66666667 31000000.
  8070000.         11200000.          7900000.         35800000.
  4925000.         10800000.          6700000.          5280000.
 35200000.          6800000.         11399999.          8580000.
 10900000.          6317142.85714286 10100000.         13000000.
  3800000.          4800000.         18500000.          6590000.
 18900000.          6580555.55555556  8950000.         11000000.
  3533333.33333333 41000000.          8074000.         40000000.
  9900000.         27500000.          4236000.          4500000.
 15000000.         10303000.          6720000.          9250000.
  3200000.          3500000.          4204200.          8999200.
  8186666.66666667  7500000.          6000000.         15749999.5
 15500000.          3503000.          3900000.         10100000.
 45000000.         35200000.         22100000.          4840000.
  7317000.         10700000.         29000000.          4400000.
 33500000.          4500000.         11200000.          6363000.
  3500000.          4748000.          4198000.         62300000.
  5280000.          6580555.55555556  7750000.          7498999.
  6500000.          4900000.          4641000.          5500000.
 12300000.         26000000.         12600000.          6500000.
 11600000.         20000000.          3750000.          7301000.
  7229799.6        11000000.          8825000.          8990000.
  7359000.         20200000.         13400000.          3750000.
  7999714.          4800000.         13500000.          7400000.
  4800000.         11249999.5         8385999.66666667  7895999.
  6000000.          6000000.          7498999.         13500000.
  3000000.          5500000.          7500000.         14000000.
  6580555.55555556  8000000.          7000000.          4266000.
 18500000.          4500000.          6640000.          5376000.
  2500000.         13500000.          9156000.         11200000.
  3820000.          9075000.          6752000.          6931000.
  8364000.          6317142.85714286  4200000.          3500000.
  3900000.          7200000.          3900000.          9500000.
  9000000.          9299200.          7802000.          7999714.
 12000000.          4364416.66666667  5777000.          3300000.
  8900000.          3500000.          8186666.66666667 22500000.
  7240000.          4567000.         10560500.          4364416.66666667
 11100000.          6600000.          9571000.          4158000.
 12500000.         10400000.          5900000.         10000000.
  3830000.          9300000.         16900000.          4210500.
 10303000.          8799333.33333333  5250000.         30000000.
  6000000.          9900000.          4500000.          7500000.
 13500000.          3500000.          5777000.          6931000.
  3533333.33333333  8500000.         14600000.          9782000.
  5236666.33333333  3300000.          6300000.          4070000.
  2500000.         12300000.          2700000.          7500000.
  5500000.          6500000.          6600000.         13300000.
 23000000.          5500000.          2962000.         22100000.
  4800000.          3000000.         14000000.         35000000.
  2200000.          5500000.         10350000.         12775000.
 20000000.          5628000.          6752000.          4748000.
  9150000.         30000000.          4155000.         23433333.33333333
  4640000.          3900000.         40000000.          6600000.
  4362500.          3900000.         20700000.         10000000.
 15000000.          7922000.         10900000.         12300000.
 18200000.         22000000.         12300000.         11200000.
  4734636.36363636 12000000.         24350000.          4044000.
  4364416.66666667  3900000.          4266000.         11000000.
  6057500.          9150000.         10000000.         11500000.
 45000000.         17000000.          4200000.          2116000.
  8140000.          5777000.          9300000.          9150000.
  3900000.         10100000.          7467000.          2700000.
  7229799.6         4600000.          7301000.         39400000.
  9300000.          9991000.          4300000.          3200000.
 17500000.          5500000.         15233333.33333333 24350000.
  9494000.          8600000.         10900000.          5236666.33333333
 10100000.         13300000.          4400000.          7567000.
 22966666.66666667  9300000.          7561999.66666667 27500000.
 29000000.          3100000.         10100000.          4200000.
  3820000.          5600000.          4200000.          9984000.
 11314285.         11000000.          6700000.         17000000.
  9991000.          7301000.          4200000.          4400000.
 10000000.         45000000.         14600000.          4204200.
  3250000.         10500000.         16000000.          4000000.
  8741000.          3900000.         14000000.         14000000.
 19400000.          8500000.          9000000.          8140000.
  3300000.          5500000.         12500000.          9720000.
  4400000.          8050000.         20000000.          6790833.33333333
  9200000.          7240000.          9300000.          4734636.36363636
 10900000.          8273999.          4155000.          4093684.21052632
  5800000.         10000000.          3533333.33333333  6500000.
  4367000.          4093684.21052632 11600000.          9450000.
 10500000.         11000000.          3250000.          3600000.
  9450000.          7150000.         15000000.          4364416.66666667
 20500000.          3400000.         12300000.         30000000.
  5777000.          4500000.          9120000.          3300000.
  4640000.          8200000.          4085000.          6741000.
 27000000.          8580000.          5000000.          4000000.
  4500000.          4000000.          4093684.21052632  3200000.
  4856000.         22000000.          7065000.         29000000.
  4850000.          6580555.55555556  8603571.42857143  5971333.33333333
  4876000.          4900000.         11800000.          6000000.
 11000000.          8450000.          6503500.          6317142.85714286
  8603571.42857143 30000000.          4641000.          3175000.
  2500000.         12500000.          7065000.         20200000.
 10200000.         10800000.          2848000.          6600000.
 19600000.         22100000.          3175000.          3200000.
  9906000.         35200000.          3830000.          8999200.
  8903000.          9300000.         12000000.          2700000.
 37500000.         13500000.          6500000.          6786000.
  6000000.          8460000.          6700000.          6580555.55555556
 18500000.          6640000.          8950000.          3570000.
 14600000.          7100000.          8400000.          2861333.33333333
  9500000.          7800000.          3900000.          6319000.
  4900000.         15300000.          4204200.          4590000.
 27000000.         42750000.          8600000.          9000000.
  4155000.          4000000.          4504166.66666667  3500000.
  7429000.          8500000.         10000000.          7500000.
  5499000.          6600000.          6580555.55555556  9991000.
 13500000.          8573000.          6500000.          7150000.
  6266666.66666667 23000000.         11000000.          8186666.66666667
  5900000.          8186666.66666667  5679000.          3700000.        ] [4748000, 22700000, 4500000, 3900000, 14000000, 4400000, 7800000, 35200000, 11700000, 4389000, 6500000, 8600000, 14500000, 6325000, 10100000, 10000000, 4200000, 6800000, 10000000, 11200000, 8700000, 5300000, 4680000, 8150000, 9234000, 10700000, 10700000, 5200000, 9500000, 5253000, 8105000, 9300000, 6500000, 10900000, 5720000, 6500000, 3200000, 5692000, 9517000, 10800000, 4600000, 16000000, 5275000, 3000000, 6165000, 7272000, 5580000, 12700000, 165000000, 8150000, 15000000, 8500000, 6800000, 35200000, 6000000, 11100000, 3900000, 3960000, 8200000, 46000000, 7581999, 7000000, 7900000, 36000000, 5200000, 10300000, 6700000, 5256000, 55800000, 7000000, 11399999, 8086000, 10900000, 4850000, 10100000, 19500000, 3148000, 4542000, 18500000, 6590000, 19000000, 6800000, 9400000, 3650000, 3500000, 45000000, 23000000, 33300000, 5500000, 55000000, 4236000, 4500000, 12000000, 14500000, 6552000, 22000000, 4300000, 6300000, 4158000, 9000000, 8200000, 7500000, 5510000, 17000000, 17000000, 2002000, 3900000, 10100000, 13500000, 35200000, 15000000, 6500000, 7098999, 9197000, 29000000, 4977000, 34000000, 4500000, 11500000, 6363000, 4000000, 5373000, 10500000, 61000000, 5280000, 6800000, 10300000, 7498999, 10200000, 5900000, 4641000, 14000000, 12300000, 22000000, 14000000, 7672000, 9662000, 16500000, 4700000, 6348000, 7317000, 9000000, 6354000, 8925000, 7614000, 42900000, 14000000, 3300000, 7998999, 4700000, 14300000, 14000000, 5200000, 11100000, 4620000, 7875000, 6000000, 4000000, 4600000, 14200000, 2800000, 4600000, 7500000, 16000000, 6000000, 8000000, 7000000, 3200000, 7912000, 5166000, 6370000, 7700000, 4800000, 13500000, 9135000, 11399999, 4800000, 9075000, 7000000, 7950000, 11000000, 4000000, 3999000, 4000000, 3900000, 4304000, 3900000, 7500000, 9000000, 9300000, 10600000, 8000000, 17700000, 4239000, 6168000, 3300000, 8234999, 2700000, 8100000, 22000000, 7000000, 7298999, 10000000, 4236000, 11100000, 7540000, 8323000, 4158000, 9200000, 10400000, 6300000, 10000000, 3250000, 6956999, 6600000, 3720000, 9906000, 8800000, 3200000, 30000000, 6000000, 9900000, 3500000, 4700000, 13500000, 4680000, 6277000, 8998000, 3600000, 10200000, 6984000, 17500000, 8600000, 3300000, 6300000, 4400000, 2000000, 12000000, 2700000, 7600000, 32000000, 6000000, 4000000, 10600000, 17000000, 5500000, 5782000, 16600000, 5654000, 4000000, 15000000, 33100000, 2200000, 4300000, 10500000, 12000000, 9877000, 5544000, 7000000, 6000000, 9400000, 33000000, 3570000, 23000000, 4700000, 4500000, 25800000, 6600000, 4750000, 3900000, 46000000, 5900000, 15000000, 7200000, 14400000, 12200000, 15000000, 12500000, 12000000, 10900000, 4760000, 7998000, 23600000, 4566000, 4230000, 3900000, 2200000, 12200000, 8200000, 9941000, 7200000, 11500000, 32799999, 16500000, 4200000, 15000000, 8200000, 5777000, 9300000, 9400000, 3900000, 7800000, 7286000, 2700000, 7317000, 4800000, 7301000, 45000000, 5652000, 9291000, 4500000, 5700000, 27500000, 5500000, 14000000, 26100000, 9500000, 10000000, 10900000, 6509999, 8510000, 9949000, 4400000, 12500000, 23000000, 9800000, 7240000, 24000000, 29000000, 5500000, 9800000, 5880000, 3800000, 6623000, 5000000, 9984000, 11100000, 10500000, 6700000, 18000000, 4000000, 6348000, 5000000, 4400000, 13000000, 45000000, 25500000, 4158000, 3500000, 7200000, 18400000, 6000000, 8761000, 3900000, 14500000, 10100000, 18700000, 6000000, 9000000, 8150000, 3300000, 5500000, 11100000, 9600000, 4400000, 9200000, 14600000, 4850000, 9351000, 10800000, 9300000, 4760000, 10900000, 8278000, 4710000, 4800000, 7519000, 10500000, 3500000, 8500000, 4367000, 3200000, 9633000, 9400000, 8452000, 8100000, 2800000, 3600000, 9908000, 9300000, 12500000, 4236000, 19500000, 4010000, 12300000, 33000000, 6102000, 6000000, 7500000, 5760000, 4640000, 8200000, 4000000, 5500000, 32500000, 9800000, 13300000, 4000000, 4300000, 7200000, 4400000, 6500000, 5256000, 3690000, 7222000, 29000000, 4800000, 6800000, 8625000, 5967000, 4876000, 4600000, 10000000, 6000000, 9066000, 6200000, 7500000, 8200000, 9000000, 18400000, 4641000, 7000000, 4800000, 12500000, 8000000, 21000000, 10200000, 10600000, 2850000, 6600000, 19400000, 17500000, 3500000, 4500000, 9525000, 33000000, 4161999, 9000000, 9517000, 10200000, 12000000, 2500000, 32000000, 13500000, 10000000, 4680000, 3927000, 8500000, 6700000, 6800000, 9000000, 6344000, 5800000, 6000000, 13500000, 9900000, 8389000, 4000000, 9500000, 6547000, 7800000, 6319000, 4700000, 15000000, 4158000, 4200000, 14800000, 42500000, 10800000, 9000000, 4600000, 3300000, 4748000, 4500000, 14000000, 8500000, 16000000, 7500000, 5499000, 11299999, 6800000, 3936000, 10000000, 8573000, 3300000, 7175000, 8599000, 19500000, 11000000, 8150000, 9000000, 8200000, 5679000, 4500000]

In [52]:
final_rmse

6768713.548176292